<style xmlns="http://www.w3.org/1999/html">
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="assets/peach.svg"
  />
  <span>Butt Blaster</span>
    <div class="spacer"></div>
</div>
<mat-grid-list cols="3" rowHeight="2:1" style="margin-top: 7%;">
  <mat-grid-tile>
    <table>
    <tr><td>
      <img mat-card-image [src]="buttsnap" alt="last butt" style="max-width: 90%;" >
    </td></tr>
      <tr>
        <td>

        </td>
      </tr>
    </table>

  </mat-grid-tile>
  <mat-grid-tile>
    <app-svg (click)="red()" style="width: 150px;"></app-svg>
    <audio id="click" src="assets/click.mp3"></audio>
    </mat-grid-tile>
  <mat-grid-tile>
    <qrcode [qrdata]="uuid" [width]="200" [errorCorrectionLevel]="'M'"></qrcode>
  </mat-grid-tile>
</mat-grid-list>

<div class="content" role="main">
  <label>
    Name:
    <input type="text" [value]="name" size="50" width="500" class="form-control" >
  </label>
  <label>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bio:
    <input type="text" [value]="bio"  size="50" width="500" class="form-control" >
  </label>
  <label>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;UID:
    <input type="text" [value]="uuid"  size="50" width="500" class="form-control" >
  </label>
  <button mat-raised-button color="accent" (click)="cycle()">Randomize</button>

  <!-- Footer -->
  <footer style="font-family: Consolas;">
    <p>All code, images, and trademarks are Copyleft &copy; Pussy Avalanche - commodification forbidden</p>

  </footer>

</div>


<router-outlet></router-outlet>
