<style xmlns="http://www.w3.org/1999/html">
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="assets/peach.svg"
  />
  <span>Butt Blaster 20220210</span>
    <div class="spacer"></div>
</div>

<span id="disclaimer" *ngIf="disclaimer" style="align-content: center; margin-top: 5%">
  <div style="max-height: 5%; min-height: 5%;"></div>
  <img src="assets/peach.svg" width="50px" style="margin-left: 10%; margin-top: 15%;">
  <br/>
  <p style="color: #24292e;margin-top: 5%; margin-left: 10%; margin-right: 10%; font-size: large">
    Generally - don't accept the offer of random weirdos to take you to the Buttblaster
    </p>

  <p style="color: #24292e;margin-top: 5%; margin-left: 10%; margin-right: 10%; font-size: large">
    By clicking through you agree you are over 18 to be allowed access.
  </p>
  <button mat-raised-button color="accent" style="color: #24292e;margin-top: 3%; margin-left: 20%; margin-right: 10%" (click)="agree()">Nerd! - let me into the Butt Blaster</button>
</span>
<span id="rank" style="margin-top: 10%; text-align: center;" *ngIf="rankMode">
  <br/>
      <h1>Rank</h1>
        <ng-image-slider
          [manageImageRatio]="true"
          [autoSlide]="true"
          [imagePopup]="false"
          (imageClick)="pokeButt($event)" [images]="imageObject"
          [imageSize]="{width: width, height: '300px', space: 4}" #nav></ng-image-slider>
      <h3>Click to like a butt</h3>
    <div style="align-content: center; margin-top: fill">
      <!-- get latest butts -->
      <button mat-raised-button color="default" (click)="load()">Get New Butts</button>
    </div>
    <div style="align-content: center; margin-top: 5%">
      <!-- go back to butt capture mode -->
      <button mat-raised-button color="default" (click)="rankMode = false; snapMode = true;">Switch back to Buttblaster mode</button>
    </div>

    </span>
<span id="snap" *ngIf="snapMode" style="text-align: center; margin-top: 7%; margin-left: 5%; margin-right: 5%">
      <div >
        <h3>Want to be judged?  Upload your butt to the Internet!</h3>
      </div>
    <div id="basic" style="text-align: center">
      <webcam [width]="width*.75" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
              [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
              [videoOptions]="videoOptions"
              [imageQuality]="1"
              (cameraSwitched)="cameraWasSwitched($event)"
              (initError)="handleInitError($event)"
      ></webcam>
    </div>
      <div >
        <h3>Want to be judged?  Upload your butt to the Internet!</h3>
      </div>
  <label style="text-align: center; margin-top: 2%; margin-left: 5%; margin-right: 1%">
    Your Playa Name:
    <input type="text" [value]="name" size="50" width="500" class="form-control" multiple >
  </label>
  <label style="text-align: center; margin-top: 2%; margin-left: 5%; margin-right: 1%">
    About you:
    <input type="text" [value]="bio" size="50" style="word-break: break-word;" class="form-control" >
  </label>
  <div style="align-content: center">
  <button mat-raised-button color="accent" (click)="cycle()">Randomize Name</button>
  </div>

  <br/>
  <div style="align-content: center">

  <button style="text-align: center; margin-top: 2%; margin-left: 5%;" mat-raised-button color="default" (click)="triggerSnapshot();">Grab My Butt!</button>
  <button mat-raised-button color="default" (click)="snapMode=false;rankMode=true;">No way - show me butts</button>
  </div>
    <br/>

    </span>

  <div class="content" role="main">
    <span id="confirm" *ngIf="confirmMode">
      <div>
        <img [src]="theButt" alt="Red dot" [width]="width*.75"/>
      </div>

      <table style="align-content: center">
        <tr><td>
      <button mat-raised-button color="default" (click)="sendButt();">Send My Butt!</button>
        </td></tr>
        <tr><td>
      <button mat-raised-button color="warn" (click)="rankMode = confirmMode = false; snapMode = true;">Redo</button>
        </td></tr>
      </table>

    </span>
  <audio id="click2" src="assets/click.mp3"></audio>
  </div>
  <!-- Footer -->
  <footer >
    <div style="font-family: Consolas, monospace; align-content: center; text-align: center; font-size: xx-small; margin-left: 5%; margin-right: 5%;">
      Copyleft 2021-2022 &copy; Pussy Avalanche.  You may not make commercial use of any images or content on this site.  Fuck your burn.  :)
      <br/>
      Don't share the butts of others without asking :)
    </div>

  </footer>



<router-outlet></router-outlet>
